.fbHr,
.twitterHr,
.ybHr,
.igHr {
  border-radius: 15px 15px 0 0;
  position: relative;
  top: -10px;
}
.fbHr {
  border: 2px solid rgb(25, 143, 245);
}
.igHr {
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}
.twitterHr {
  border: 2px solid hsl(203, 89%, 53%);
}
.ybHr {
  border: 2px solid hsl(348, 97%, 39%);
}
.Media,
.MediaUserName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Media {
  text-align: center;
  margin: 25px 25px 0;
}
.MediaBox {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 10px;
}
.MediaBoxLayout {
  margin: 20px;
  width: 200px;
}
.MediaBoxLayout h1 {
  font-size: 45px;
  line-height: 0;
  margin-top: 45px;
}
.MediaBoxLayout p {
  font-size: 15px;
  font-weight: 300;
  line-height: 0;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.MediaUserName img {
  margin-right: 5px;
}
.MediaUserName span {
  font-size: 15px;
  font-weight: 600;
}
.Green {
  color: hsl(163, 72%, 41%);
  font-weight: bold;
  margin-left: 5px;
}
.Red {
  color: hsl(356, 69%, 56%);
  font-weight: bold;
  margin-left: 5px;
}
.Red,
.Green {
  font-size: 14px;
}

@media (min-width: 280px) and (max-width: 1026px) {
  .Media {
    flex-direction: column;
  }
  .MediaBox {
    width: 100%;
  }
  .MediaBoxLayout {
    margin: 25px;
    width: auto;
  }
}
